* {
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: Roboto;
}

/* Part One*/

/* Header */

.partone {
  background-color: #1f2937;
  padding-bottom: 100px;
}

header {
  display: flex;
  justify-content: space-around;
}

#logo {
  padding: 16px;
  color: #f9faf8;
  font-size: 24px;
}

ul {
  display: flex;
  padding: 8px;
}

li {
  padding: 16px;
}

a {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: bold;
}

a:hover {
  color: greenyellow;
}

sub {
  font-size: 18px;
  color: #e5e7eb;
}

/* Hero main text */

#hero {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.heromain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 30px;
}

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  margin: 16px;
  width: 400px;
  height: 250px;
}

.content button {
  text-align: center;
}

#but {
  padding: 10px 20px;
  width: 130px;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  font-weight: 900;
}

/* Part Two */

.parttwo {
  margin-top: 50px;
  margin-bottom: 100px;
}

#info {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  text-align: center;
  font-weight: bold;
}

.pictures {
  border: 5px solid #1f2937;
  border-radius: 10px;
  width: 200px;
  height: 150px;
  margin-bottom: 15px;
}

/* Part Three */

.quote {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #e5e7eb;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  font-weight: 300;
  display: flex;
  justify-content: center;
}

.quotes {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 700px;
}

span {
  font-weight: 900;
  font-size: 25px;
}

/* Part Four */

.sign {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9faf8;
}

.signup {
  display: flex;
  gap: 300px;
  flex-wrap: row;
  background-color: #3882f6;
  padding: 50px 150px;
  border-radius: 10px;
}

#button {
  border: 2px solid #f9faf8;
  padding: 0 20px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  font-weight: 900;
}

/* last */

footer {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 24px;
}
